<div class="grocery_list">
<h1><%= @user.name %>'s Grocery List</h1>

<div class="grocerylist">
<ul>
<% @grocery_list_array.each do |ingredient| %>
    <li><%= ingredient %></li>
<% end %>
</ul>
</div>


<%= form_tag user_grocery_list_path(@user), method: 'patch' do %>
  <%= submit_tag "Clear My Grocery List" %>
<% end %>

</div>
