/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

body {
  background-color:#9bc2cf;
}
div.container {
  background-color:white;
  border: 4px solid black;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  width: 900px;
}

div.navigation {
  text-align: right;
}

.welcome {
  text-shadow: -1px 0 gray, 0 1px gray, 1px 0 gray, 0 -1px gray;
  color: lightblue;
  font-family: Courier, monospace;
  font-size: 50px;
  font-weight: bold;
}

.craving {
  font-size:30px;
  font-family: cursive;
  margin: 40px;
}

.search_button {
  font-size: 50px;
  margin:40px;

}

.search_field {
  font-size: 30px;
  width: 500px;
  margin: 40px;
  text-align:center;
}

.search_results h1 {
  color:darkblue;
  font-size:40px;
}
.search_results li {
  font-size: 40px;
  list-style: none;
  padding:30px;
  text-align: left;
  overflow: hidden;
}

.search_results .list_image {
  border: 2px solid black;
  float:left;
  margin:10px;
  max-width: 25%;
  max-height: 200px;
}

.list_title {
  margin:10px;
  max-width: 70%;

 }

.large-image {
  max-width:800px;
  border: 3px solid black;

}

.recipedetails {
  text-align: left;
}

.grocerylist {
  font-size: 30px;
  text-align: left;
}
